@{
    ViewData["Title"] = "Contáctenos";
}
<h2>@ViewData["Title"]</h2>

<p class="alert alert-info">@ViewData["Message"]</p>

<address>
    Av. De La Floresta 265<br />
    San Borja<br />
    Lima - Perú<br />
    <abbr title="Teléfono">T:</abbr>
    (51 1) 242 6446
</address>

<address>
    <strong>Correo:</strong> <a href="mailto:informes@vcaperu.com">informes@vcaperu.com</a><br />
    <strong>Web:</strong> <a href="http://vcaperu.com/">www.vcaperu.com</a>
</address>
