<!--Chatbot-->
@*<a class="btn-floating btn-large blue waves-effect waves-light" title="ChatBot..." data-original-title="ChatBot..." data-widget="collapse" data-original-title="Minimizar">
        <i class="fa fa-cloud"></i>
    </a>*@

<div class="fixed-action-btn-chat" style="bottom: 2rem; right: 1rem;position:fixed">
    <a class="btn-floating btn-large blue waves-effect waves-light collapse-chat"
       data-toggle="tooltip" data-placement="left"
       title="Haga click aquí para conversar con nuestro asistente virtual...">
        <i class="fa fa-cloud"></i>
    </a>
</div>

<section id="chatbot" style="display:none;">
    <div class="box box-primary direct-chat direct-chat-primary">
        <div class="box-header with-border">
            <h3 class="box-title" style="margin-right: 1.5rem;">VCA</h3>

            <button id="help" class="tooltip-dialog-btn" onclick="Sidebar.toggle()">FAQ</button>


            <div id="resetChat" class="btn-group">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars"></i> Menú
                    </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:Sidebar.toggle();">
                            <i class="fa fa-question-circle"></i> Preguntas Frecuentes
                        </a>
                        <a class="dropdown-item" href="javascript:Sidebar.saveChat();">
                            <i class="fa fa-save"></i> Grabar Conversación
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:Sidebar.resetChat();">
                            <i class="fa fa-times"></i> Eliminar Historial
                        </a>
                    </div>
            </div>

      
            <div class="box-tools pull-right">
                <a href="javascript:resetChat()" class="btn btn-box-tool" data-toggle="tooltip" title="Reiniciar">
                    <i class="fa fa-repeat"></i>
                </a>

                <span id="countChats" data-toggle="tooltip" class="badge bg-light-blue" data-original-title="Mensajes nuevos">3</span>

                <button type="button" class="btn btn-box-tool collapse-chat" data-toggle="tooltip" title="Minimizar">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body" id="bodyChat">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages" id="scrollingChat">

            </div>
            <!--/.direct-chat-messages-->
           
            <div id="sidebar" class="">
                <div class="close-div" onclick="Sidebar.toggle()">
                    <img src="~/images/close-button.png" class="close" alt="close">
                </div>
                <p class="pre-bar">Preguntas frecuentes:</p>
                <ul id="suggestion-list"></ul>
            </div>

        </div>
        <!-- /.box-body -->

        <div class="box-footer">

            @*<img id="record" src="~/Scripts/record/mic128.png" onclick="toggleRecording(this);" class="">*@

            <div class="elementPicture">
                <i id="iconMic" class="fa fa-microphone fa-2" aria-hidden="false" onclick="toggleRecording(this);"></i>

                <i id="iconPicture" class="fa fa-picture-o fa-2"></i>
                <span class="name" style="font-size:xx-small;">No ha seleccionado imágen</span>
                <input type="file" id="myImage" name="myImage" accept="image/*">
            </div>

            <form action="javascript:sendRequest()" method="post">
                <div class="input-group" id="inputUserGroup">
                    <input id="textInput" type="text" name="message" placeholder="Escribir mensaje ..."
                           class="form-control" />

                    <span class="input-group-btn">
                        <button type="submit"
                                class="btn btn-primary btn-flat">
                            Enviar
                        </button>
                    </span>
                </div>
            </form>

            <div id="chat_loader" style="display:none;">
                <img src="~/images/preloader.gif" alt="Pensando..." />
                <span>Pensando...</span>
            </div>

        </div>
        <!-- /.box-footer-->
    </div>

    <audio id="Audio1" preload="auto"></audio>

</section>

<!--/.Chatbot-->
